/* Write your CSS here */
.container {
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-family: 'roboto';
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: brown;
}
.button1 {
  background-color: white;
}
.para {
  font-family: 'roboto';
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: brown;
}
